<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/eventsnewtask']">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="items" class="list-mini-content" padding>
  <div *ngIf="items.length > 0" class="list-mini">
    <ion-list>
      <ion-item *ngFor="let item of items" [routerLink]="['/eventsdetails', item.payload.doc.id]">
        
        <ion-label>{{item.payload.doc.data().title}}</ion-label>
        <ion-button fill="clear" slot="end">Detalhes</ion-button>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="items.length == 0" class="empty-list">
    Lista de Eventos Vazia!
  </div>
</ion-content>

