<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="end">
          <ion-button (click)="logout()" [routerLink]="['/login']">
            <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Medicamentos</ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="items" class="list-mini-content" padding>
  <div *ngIf="items.length > 0" class="list-mini">
    <ion-list>
      <ion-item *ngFor="let item of items" [routerLink]="['/details', item.payload.doc.id]">
        
        <ion-icon name="clock" color="primary"></ion-icon><ion-label color="primary">&nbsp;{{item.payload.doc.data().nome}}
          <ion-label>&nbsp;{{item.payload.doc.data().hora}}</ion-label>
        </ion-label>
        
        <ion-button fill="clear" slot="end">Editar</ion-button>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="items.length == 0" class="empty-list">
    Lista de Medicamentos Vazia!
  </div>



  <!-- fab placed to the bottom start -->
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
      <ion-fab-button [routerLink]="['/new-task']">
        <ion-icon  name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>

